:root {
  --primary-color: #0ac41d;
  --primary-color-rgba: 10, 196, 29;
  --primary-color-dark: #078c15;

  --secondary-color: #fbc749;
  --secondary-color-dark: brown;

  --green-color-100: #0bb316;
  --green-color-500: #02940b;
  --green-color-900: #073515;
  --gray: #e3e3e3;
  --gray-100: #f5f5f5;
  --background-dark-gray: #333;
  --background-white: #fff;
  --text-color-white: #fff;
  --white: #fff;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --black-600: #131313;
  --black-600-rgb: 16, 16, 16;
  --max-width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-gray);
  color: var(--green-color-500);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem; /* Enfatizar uso de unidades relativas */
}
